/* GENERAL FORMATTING FOR ALL THE PAGES */
/* GENERAL FORMATTING FOR ALL THE PAGES */
/* GENERAL FORMATTING FOR ALL THE PAGES */
/* Font Syle */
* {
    font-family: "Manrope", sans-serif;
  }

/* Navbar Brand */
.navbar-brand:link, .navbar-brand:active, .navbar-brand:visited {
    font-size: 16px;
    color: var(--bs-primary);
}

/* Navbar Links */
.nav-link:link, .nav-link:active, .nav-link:visited {
    font-size: 16px;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.navbar {
    opacity: 1;
}

.nav-link:hover {
    color: var(--bs-primary);
    text-decoration:line-through;
}

/* MAIN TITLES */
.h1 {
    color: #A4A091;
    font-weight:200;
    font-size: 40px;
    margin-bottom: 50px;
}

/* MAIN TITLES <b> CONTENTS */
.h1 > b {
    font-weight: 600;
}

/* Subtitles */
.h2 {
    font-weight: 200;
    color: #A4A091;
    font-size: 35px;
}

/* Sub-Subtitles */
.h3 {
    font-size: 25px;
    font-weight: 280;
    text-align: center;
}

.h3 > b {
    font-weight: 700;
}

/* Sub-sub-subtitles */
.h4 {
    font-size: 20px;
    font-weight: 300;
}

/* Descriptions (smaller font) */
.small-text {
    font-weight: 100;
    font-size: 15px;
}

/* Descriptions <b> contents */
.small-text > b {
    font-weight: 700;
}

/* NAVBAR BRAND */


@media (min-width:768px) and (max-width:1199px) {
    /* GENERAL FORMATTING */
    /* Title */
    .h1 {
        font-size: 5.4vw;
    }

    /* Subtitle */
    .h2 {
        font-size: 2.5em;
    }

    /* Sub-title */
    .h3 {
        font-size: 2em;
    }

    /* Sub-sub-subtitle */
    .h4 {
        font-size: 1.5em;
    }

    /* Description */
    .small-text {
        font-size: 1em;
    }
}

/* For XL and larger width devices */
@media (min-width:1200px) {
    /* GENERAL FORMATTING */
    /* Main Title*/
    .h1 {
        font-size: 4em;
    }

    /* Subtitle */
    .h2 {
        font-size: 3.2em;
    }

    /* Sub-subtitle */
    .h3 {
        font-size: 2.4em;
    }

    /* Sub-sub-subtitle */
    .h4 {
        font-size: 1.8em;
    }
    
    /* Description */
    .small-text {
        font-size: 1.2em;
    } 
}

/* MAIN PAGE STYLING */
/* MAIN PAGE STYLING */
/* MAIN PAGE STYLING */

body {
    margin-top: 80px;
    text-align: justify;
}

#my-name {
    border-bottom: 2px solid #A4A091;
}

#about-me > .h2 {
    margin-bottom: 20px;
}

#about-me > .col-12 {
    color: #A4A091;
    margin-bottom: 50px;
}

#about-me > .col-12 > .container {
    padding: 30px;
    border: 2px solid #A4A091;
    border-radius: 10px;
    height: 100%;
}

#about-me, #experience {
    padding-top: 80px;
    padding-bottom: 20px;
    border-top: 2px solid #A4A091;
}

#about-me {
    background-color: rgb(164, 160, 145, .1);
}


/* Contenedores seccion projects */

#projects {
    padding: 50px 0;
    border-top: 2px solid #A4A091;
}

#projects > .container-fluid > .row > .col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* View Case Study Buttons */
#projects > .container-fluid > .row > .col-lg-6:first-child a {
    text-decoration: none;
    border: 2px solid #A4A091;
    border-radius: 25px;
    padding: 10px 20px;
    align-self: center;
}

#projects > .container-fluid > .row > .col-lg-6:first-child a:hover {
    background-color: #A4A091;
    color: white;
}

/* Viedo and Image Background */

#projects > .container-fluid > .row > .col-lg-6:nth-child(2) a {
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
    display: flex; /* Usa flexbox para centrar la imagen si es necesario */
    background-color: rgb(164, 160, 145, .2);
    padding: 35px 20px;
    border-radius: 16px;
}

/* Video and Image */

#projects > .container-fluid > .row {
    margin-bottom: 100px;
}

#projects > .container-fluid > .row:last-child {
    margin-bottom: 0;
}

#projects >  .container-fluid > .row > .col-lg-6 video, #projects > .container-fluid > .row > .col-lg-6 img {
    border-radius: 8px;
}

#projects > .container-fluid > .row > .col-lg-6:nth-child(2) a {
    justify-content: start; /* Centra horizontalmente */
}
#projects > .container-fluid > .row:last-child > .col-lg-6:nth-child(2) a {
    justify-content: end; /* Centra horizontalmente */
}

#projects > .container-fluid > .row > .col-lg-6:nth-child(2) > a video, #projects > .container-fluid > .row > .col-lg-6:nth-child(2) > a img {
    width: 150%;
    position: relative;
}

#projects > .container-fluid > .row .col-lg-6:nth-child(2) {
    order: 1;
    margin-bottom: 30px;
}
#projects > .container-fluid > .row .col-lg-6:nth-child(1) {
    order: 2;
    border: none;
}
#projects > .container-fluid > .row > .col-lg-6 div:nth-child(2) {
    margin-bottom: 20px;
}


.overlay > .p {
    color: white;
    position: relative;
}

.overlay > .p > p {
    position: absolute;
}

#experience-content > .col-9 {
    border-left: 2px solid #A4A091;
}

#experience-content > .col-3 > .text-dark-2 {
    writing-mode: vertical-rl;
}

#experience-content > .col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-info {
    padding-top: 80px;
    padding-bottom: 20px;
}

#contact-info-bar > a {
    text-decoration: None;
    justify-content: center;
    margin-left: 5%;
}

#contact-info-bar > a:first-child {
    margin-left: 0;
}

#contact-info-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.download-cv {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

svg {
    width: 2em;
    height: 2em;
    color: white;
}

.download-cv svg {
    color: black;
}

svg:hover {
    color: #A4A091;
}


@media (min-width:992px) {

    #projects > .container-fluid > .row:nth-child(odd) .col-lg-6:nth-child(1) {
        order: 2;
    }

    #projects > .container-fluid > .row:nth-child(odd) .col-lg-6:nth-child(2) {
        order: 1;
    }

    #projects > .container-fluid > .row:nth-child(even) .col-lg-6:nth-child(1) {
        order: 1;
    }

    #projects > .container-fluid > .row:nth-child(even) .col-lg-6:nth-child(2) {
        order: 2;
    }

    #projects > .container-fluid > .row > .col-lg-6:nth-child(2) a {
        padding: 5vw 3vw;
    }
}

@media (min-width:768px){
    #experience-content > .col-3 > .text-dark-2 {
        writing-mode: horizontal-tb;
    }

    #experience-content > .col-3 {
        align-items: start;
        justify-content: end;
    }

    #image-paco-puertos {
        mask-image: linear-gradient(to left,
            black 90%, transparent 100%
        );
        transition: mask-image 2s;
    }
}

@media (max-width:321px){
    #my-name {
        font-size: 2em;
    }

    .profession{
        font-size: 1.5em;
    }
}

@media (min-width:768px) and (max-width:978px){
    #my-name {
        font-size: 6vw;
    }

    #main-elements > .h2 {
        font-size: 4vw;
    }
}

@media (min-width:321px) and (max-width:767px){
    #my-name {
        font-size:10vw
    }

    #main-elements > .h2 {
        font-size: 8vw;
    }
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="%23A4A091" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.btn-close {
    filter: invert(70%) sepia(5%) saturate(250%) hue-rotate(200deg) brightness(95%) contrast(90%);
}

.project-box {
    border-radius: 10px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias filas */
    justify-content: center;
    gap: 10px 0px;
  }
  
.tag {
    padding: 5px 10px; /* Controla el tamaño del relleno dentro del borde */
    border: 1px solid #A4A091; /* Color y grosor del borde */
    border-radius: 15px; /* Radio de borde para dar un efecto redondeado */
    display: inline-block;
    margin: 3px; /* Controla el espaciado entre los elementos */
    cursor:pointer;
}

.tag:hover {
    background-color: #A4A091;
    color: white;
}
