body {
    margin-top: 80px;
    text-align: justify;
}

.navbar {
    opacity: .9;
}

.nav-link:link, .nav-link:active, .nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: var(--bs-primary);
    font-weight: bolder;
}

#image-paco-puertos {
    mask-image: linear-gradient(
        black 0, transparent
    );
}

#image-paco-puertos:hover {
    mask-image: linear-gradient(
        black 100%, transparent
    );
}

#my-name {
    border-bottom: 2px solid #A4A091;
}

#about-me > .col-12 {
    color: #A4A091;
    padding: 20px;
}

#about-me > .col-12 > .container {
    padding: 30px;
    border: 2px solid #A4A091;
    border-radius: 10px;
    height: 100%;
}

.navbar-brand:link, .navbar-brand:active, .navbar-brand:visited {
    font-size: 2em;
    color: var(--bs-primary);
}

.navbar-brand:hover {
    color: white;
}

#about-me, #experience {
    padding-top: 80px;
    padding-bottom: 20px;
    border-top: 2px solid #A4A091;
}
/* Contenedores seccion projects */
#projects {
    padding-top: 80px;
    padding-bottom: 20px;
    border-top: 2px solid #A4A091;
}

#projects > .col-12 > a > .container {
    padding: 30px;
    height: 100%;
    border: 3px solid transparent;
}

#projects > .col-12 > a > .container:hover {
    border: 3px solid #A4A091;
}

#projects > .col-12 > a {
    text-decoration: none;
}

#projects > .col-12 {
    padding: 20px;
}

.overlay > .p {
    color: white;
    position: relative;
}

.overlay > .p > p {
    position: absolute;
}

#experience-content > .col-9 {
    border-left: 2px solid #A4A091;
}

#experience-content > .col-3 > .text-dark-2 {
    writing-mode: vertical-rl;
}

#experience-content > .col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-info {
    padding-top: 80px;
    padding-bottom: 20px;
}

#contact-info-bar > a {
    text-decoration: None;
    justify-content: center;
    margin-left: 5%;
}

#contact-info-bar > a:first-child {
    margin-left: 0;
}

#contact-info-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.download-cv {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

svg {
    width: 2em;
    height: 2em;
    color: white;
}

.download-cv svg {
    color: black;
}

svg:hover {
    color: #A4A091;
}

#contact-info-bar > svg {
    width: 2em;
    height: 2em;
    color: white;
}

#contact-info-bar > svg:hover {
    color:#A4A091;
    width: 2.2em;
    height: 2.2em;
}

@media (min-width:768px){
    #experience-content > .col-3 > .text-dark-2 {
        writing-mode: horizontal-tb;
    }

    #experience-content > .col-3 {
        align-items: start;
        justify-content: end;
    }
}

@media (max-width:321px){
    #my-name {
        font-size: 2em;
    }

    .profession{
        font-size: 1.5em;
    }
}

@media (min-width:768px) and (max-width:978px){
    #my-name {
        font-size: 6vw;
    }

    #main-elements > .h2 {
        font-size: 4vw;
    }
}

@media (min-width:321px) and (max-width:767px){
    #my-name {
        font-size:10vw
    }

    #main-elements > .h2 {
        font-size: 8vw;
    }
}

  .navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="%23A4A091" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }

  .btn-close {
    filter: invert(70%) sepia(5%) saturate(250%) hue-rotate(200deg) brightness(95%) contrast(90%);
  }

.project-box {
    border-radius: 10px;
}