/* Border in the bottom of every section*/
#home, #features, #value-proposition, #tech-used, #tutorial, #dashboard {
    padding-left: 30px;
    padding-right: 30px;
}

/* For spacing between Section and Navbar */
html {
    scroll-padding-top: 80px;
}

/* Height of the whole screen*/
#home, #value-proposition, #features, #tech-used, #tutorial, #dashboard {
    margin-bottom: 100px;
}

/* FOR INTERACTIVE IMAGES */
.img-container {
    background-color: rgb(164, 160, 145, .2);
    padding: 5vw 3vw;
    border-radius: 12px;
}

.img-container > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* FOR HOME SECTION */
/* FOR HOME SECTION */
/* FOR HOME SECTION */
#home > div:first-child {
    padding-right: 0px;
    padding-left: 0;
}

/* FEATURES SECTION*/
/* FEATURES SECTION*/
/* FEATURES SECTION*/

/* Main point containers */

.features-container .col-sm-6 {
    margin-bottom: 50px;
}

/* TECHNOLOGIES AND TOOLS SECTION*/
/* TECHNOLOGIES AND TOOLS SECTION*/
/* TECHNOLOGIES AND TOOLS SECTION*/

.inegi, .pandas, .plotly {
    margin-bottom: 40px;
}

/* Whole container elements */
.inegi, .pandas, .plotly, .follium, .python {
    color: white;
}

/* Section Title */
#tech-used > .h2 {
    margin-bottom: 50px;
}

.python {
    margin-bottom: 50px;
}

/* TUTORIAL */
/* TUTORIAL */
/* TUTORIAL */

/**/
.scroll-container {
    margin-top: 10px;
    overflow-x: auto; /* Permite el scroll horizontal */
    white-space: nowrap; /* Evita el salto de línea en el contenido */
    padding: 10px; /* Espacio alrededor del contenido */
    border: 1px solid white;
    border-radius: 12px;
}

#tutorial > .col-md-6 {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

#tutorial > .col-md-6 > div {
    height: 100%;
    background-color: rgb(164, 160, 145, .2);
    padding: 20px;
    border-radius: 10px;
} 

#tutorial > .col-md-6 > div > p:first-child {
    border:1px solid white;
    border-radius: 50px;
    line-height: 1.3em;
    display: inline-block;
    padding: .5em 1em;
    font-size: 1.1em;
}

#tutorial > .col-md-6 > div > p:nth-child(2) {
    line-height: 1.3em;
    font-size: 1.5em;
    font-weight: 400;
}

#tutorial .scroll-container {
    margin-top: 20px;
}

#tutorial .scroll-container:nth-child(2) {
    margin-bottom: 20px;
}

#tutorial > div:nth-child(3) .scroll-container {
    margin-bottom: 20px;
}

#tutorial > div:first-child {
    margin-bottom: 50px;
}

/* DASHBOARD */
/* DASHBOARD */
/* DASHBOARD */

/* Image */
#dashboard video {
    border-radius: 12px;
}

/* Margin between videos  */
#dashboard .col-11:nth-child(1) {
    margin-right: 10px;
}

/* Margin for the left */
#dashboard .col-11:nth-child(1), #dashboard .col-11:nth-child(2) {
    margin-left: 15px;
}

/* Margin for the right */
#dashboard .col-11:nth-child(2) {
    margin-right: 15px;
}

/* To make it scrollable horizontally */
#dashboard > .scroll-container {
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
    background-color: rgb(164, 160, 145, .2);
}

/* To display images horizontally */
#dashboard > .scroll-container > div {
    display: inline-block;
}

/* Margin for the bottom of the title*/
#dashboard > .h2 {
    margin-bottom: 50px;
}


/* SMALL AND LARGER DEVICES */
@media (min-width:576px) {
    .plotly {
        margin-bottom: 0;
    }
}

@media (min-width:991px) {
    #tutorial > div:nth-child(3n+2) {
        padding-right: 15px;
    }

    #tutorial > div:nth-child(3n+3) {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    #tutorial > div:nth-child(3n+4) {
        padding-left: 15px;
    }
}

/* MEDIUM AND SMALLER DEVICES */
@media (max-width:768px) {
    /* HOME SECTION */
    /* Description */
    #home .small-text {
        padding-bottom: 50px;
    }

    /* VALUE PROPOSITION */
    #value-proposition .h2 {
        margin-bottom: 50px;
    }
}

/* MEDIUM AND LARGER DEVICES */
@media (min-width:768px) and (max-width:991px) {
    #tutorial > div:nth-child(2n) {
        padding-right: 15px;
    }

    #tutorial > div:nth-child(3), #tutorial > div:nth-child(5), #tutorial > div:nth-child(7) {
        padding-left: 15px;
    }
}

/* SMALL DEVICES */
@media (min-width:576px) and (max-width:768px)  {

    #dashboard .col-11:nth-child(1), #dashboard .col-11:nth-child(2) {
        margin-left: 5px;
    }
    
    /* Margin for the right */
    #dashboard .col-11:nth-child(2) {
        margin-right: 5px;
    }
    
    /* To make it scrollable horizontally */
    #dashboard > .scroll-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}

@media (max-width:576px) {
    #dashboard .col-11:nth-child(1), #dashboard .col-11:nth-child(2) {
        margin-left: 2vw;
    }
    
    /* Margin for the right */
    #dashboard .col-11:nth-child(2) {
        margin-right: 3vw;
    }
    
    /* To make it scrollable horizontally */
    #dashboard > .scroll-container {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    #dashboard .col-11:nth-child(1) {
        margin-right: 0px;
    }

    .container-features > div, .python {
        padding-left: 0;
        padding-right: 0;
    }

    #home, #value-proposition, #features, #tech-used, #tutorial, #dashboard {
        margin-bottom: 20vw;
    }
}

/* LARGE AND SMALLER DEVICES */
@media (max-width:1199px) {
    .img-container {
        overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
        display: flex; /* Usa flexbox para centrar la imagen si es necesario */
        justify-content: start; /* Centra horizontalmente */
    }
    
    .img-container > img {
        width: 120vw;
        position: relative;
        transform: translateX(0); /* Estado inicial */
        transition: transform 2s; /* Transición para el regreso al estado original */
    }
    
    .img-container > img:hover {
        transform: translateX(-36vw); /* Estado final durante el hover */
    }
}

/* MEDIUM AND LARGE DEVICES */
@media (min-width:768px) and (max-width:1199px) {

    /* HOME SECTION */
    /* Title and Description Container */
    #home > div:first-child {
        padding-right: 30px;
    }

    /* Image */
    .img-container > img {
        width: 80vw;
        height: auto;
    }
    
    
    .img-container > img:hover {
        transform: translateX(-20vw); /* Estado final durante el hover */
    }

    /* FEATURES SECTION */
    #features {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #features > .right-side {
        padding-right: 30px;
    }

    #features > .col-md-6 .col-sm-6 {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }

    .features-container .col-sm-6:last-child, .features-container .col-sm-6:nth-child(3) {
        margin-bottom: 0;
    }

    /* TUTORIAL */
    #tutorial > .small-text:nth-child(2), #tutorial > .small-text:nth-child(3), #tutorial > .small-text:nth-child(4) {
        margin-bottom: 60px;
    }

}

/* XL AND LARGER DEVICES */
@media (min-width:1200px) {

    /* DYNAMIC IMAGES */
    .img-container > img {
        width: 100%;
        height: auto;
    }

    /**/
    #home > div:nth-child(1) > div:nth-child(2) {
        margin-bottom: 50px;
    }

    /* VALUE PROPOSITION */
    #value-proposition {
        margin-bottom: 100px;
    }

    /* TUTORIAL */
    #tutorial > .small-text:nth-child(2), #tutorial > .small-text:nth-child(3), #tutorial > .small-text:nth-child(4) {
        margin-bottom: 80px;
    }

}

/* ULTRA SMALL DEVICES */
@media (max-width:360px) {
    .h1 {
        font-size: 11vw;
    }

    .h2 {
        font-size: 9vw;
    }

    .h3 {
        font-size: 7vw;
    }

    .h4 {
        font-size: 6vw;
    }

    .small-text {
        font-size: 4vw;
    }

    #home, #features, #value-proposition, #tech-used, #tutorial, #dashboard {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}