/* Border in the bottom of every section*/
#home, #features, #value-proposition, #tech-used, #tutorial {
    padding-left: 30px;
    padding-right: 30px;
}

/* For spacing between Section and Navbar */
html {
    scroll-padding-top: 80px;
}

/* Height of the whole screen*/
#home, #value-proposition, #features, #tech-used, #tutorial {
    padding-bottom: 100px;
}

/* FOR HOME SECTION */
/* FOR HOME SECTION */
/* FOR HOME SECTION */

/* Image */
#home > div:nth-child(2) {
    border: 2px solid rgb(164, 160, 145, .8);
    height: 90vw;
    padding: 40px 30px;
    border-radius: 10px;
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
    display: flex; /* Usa flexbox para centrar la imagen si es necesario */
    justify-content: start; /* Centra horizontalmente */
}

#home > div:nth-child(2) > img {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.anim {
    position: relative;
    transform: translateX(0); /* Estado inicial */
    transition: transform 2s; /* Transición para el regreso al estado original */
}

.anim:hover {
    transform: translateX(-41%); /* Estado final durante el hover */
}

/* FEATURES SECTION*/
/* FEATURES SECTION*/
/* FEATURES SECTION*/

/* Main point containers */
#features > .right-side > .row {
    padding: 30px;
}

#features > .right-side > .row > .col-sm-6 {
    margin-bottom: 30px;
}

/* Images */
#features > .right-side > .row .image {
    display: flex;
    justify-content: center;
}

/* TECHNOLOGIES AND TOOLS SECTION*/
/* TECHNOLOGIES AND TOOLS SECTION*/
/* TECHNOLOGIES AND TOOLS SECTION*/

.inegi, .pandas, .plotly {
    margin-bottom: 40px;
}

/* Whole container elements */
.inegi, .pandas, .plotly, .follium, .python {
    color: white;
}

/* Section Title */
#tech-used > .h2 {
    margin-bottom: 50px;
}

.python {
    margin-bottom: 50px;
}

/* TUTORIAL */
/* TUTORIAL */
/* TUTORIAL */

/* Title */
#tutorial > div:nth-child(1) {
    margin-bottom: 50px;
}

.scroll-container {
    margin-top: 10px;
    overflow-x: auto; /* Permite el scroll horizontal */
    white-space: nowrap; /* Evita el salto de línea en el contenido */
    padding: 10px; /* Espacio alrededor del contenido */
    border: 2px solid rgb(164, 160, 145, .8);
    border-radius: 10px;
    scrollbar-width: none; /* Firefox */
}

/* Padding*/
#tutorial > div {
    padding: 10px auto;
}

#tutorial > .small-text:nth-child(2), #tutorial > .small-text:nth-child(3), #tutorial > .small-text:nth-child(4), #tutorial > .small-text:nth-child(5), #tutorial > .small-text:nth-child(6) {
    margin-bottom: 30px;
}

/* SMALL AND LARGER DEVICES */
@media (min-width:576px) {
    .plotly {
        margin-bottom: 0;
    }
}

/* MEDIUM AND SMALLER DEVICES */
@media (max-width:768px) {
    /* HOME SECTION */
    /* Description */
    #home .small-text {
        padding-bottom: 50px;
    }
}

/* MEDIUM AND LARGER DEVICES */
@media (min-width:768px) {
    #tutorial > div:nth-child(2), #tutorial > div:nth-child(3), #tutorial > div:nth-child(5), #tutorial > div:nth-child(6) {
        padding-right: 30px;
    }
}

/* SMALL DEVICES */
@media (min-width:576px) and (max-width:768px)  {
    #tutorial > div:nth-child(2), #tutorial > div:nth-child(4), #tutorial > div:nth-child(6) {
        padding-right: 30px;
    }
}

/* MEDIUM AND LARGE DEVICES */
@media (min-width:768px) and (max-width:1199px) {
    /* Height of the whole screen*/
    #home, #value-proposition, #features, #tech-used, #tutorial {
        padding-bottom: 120px;
    }

    /* HOME SECTION */
    /* Title and Description Container */
    #home > div:first-child {
        padding-right: 40px;
    }

    /* Image */
    #home > div:nth-child(2) {
        height: 40vw;
        margin: auto 0;
    }

    /* FEATURES SECTION */

    /* Truck Image (Is just appearing when the width is larger than Medium; 992px) */
    #features > .left-side > img {
        border-radius: 10px;
        width: 25vw;
    }

    #features > .right-side > .row {
        display: flex;
        height: 92%;
        align-items: center;
    }

    /* TUTORIAL */
    #tutorial > .small-text:nth-child(2), #tutorial > .small-text:nth-child(3), #tutorial > .small-text:nth-child(4) {
        margin-bottom: 60px;
    }

}

/* XL AND LARGER DEVICES */
@media (min-width:1200px) {
    /* Height of the whole screen*/
    #home, #value-proposition, #features, #tech-used, #tutorial {
        padding-bottom: 150px;
    }

    /* HOME SECTION */
    /* Description */
    #home .small-text {
        padding-bottom: 50px;
    }

    /* Image */
    #home > div:nth-child(3) {
        border: 2px solid rgb(164, 160, 145, .8);
        padding: 60px 50px;
        border-radius: 10px;
    }

    #carouselExampleControls > .carousel-inner {
        border-radius: 10px;
    }

    /* FEATURES SECTION */

    #features > .left-side > img {
        border-radius: 10px;
        width: 25vw;
    }

    #features > .right-side > .row {
        display: flex;
        height: 92%;
        align-items: center;
    }

    #value-proposition {
        margin-bottom: 100px;
    }

    /* TUTORIAL */
    #tutorial > .small-text:nth-child(2), #tutorial > .small-text:nth-child(3), #tutorial > .small-text:nth-child(4) {
        margin-bottom: 80px;
    }

}

/* ULTRA SMALL DEVICES */
@media (max-width:360px) {
    .h1 {
        font-size: 11vw;
    }

    .h2 {
        font-size: 9vw;
    }

    .h3 {
        font-size: 7vw;
    }

    .h4 {
        font-size: 6vw;
    }

    .small-text {
        font-size: 4vw;
    }

    #home, #features, #value-proposition, #tech-used, #tutorial {
        padding-left: 5vw;
        padding-right: 5px;
    }
}