
/* Border in the bottom of every section*/
#home, #features, #value-proposition, #tech-used, #tutorial {
    padding-left: 30px;
    padding-right: 30px;
}

/* For spacing between Section and Navbar */
html {
    scroll-padding-top: 80px;
}

/* FOR HOME SECTION */
/* FOR HOME SECTION */
/* FOR HOME SECTION */

/* Height of the whole screen*/
#home {
    padding-bottom: 100px;
}

/* Main Title */
#home > div > .h2 {
    color: #A4A091;
    font-weight:200;
    font-size: 40px;
    text-align: start;
    margin-bottom: 50px;
}

#home > div > .h2 > b {
    font-weight: 600;
}

/* Main Description */
#home > div:nth-child(1) > .p, #tutorial > .step {
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 50px;
}

#home > div:nth-child(1) > .p > b {
    font-weight: 700;
}

/* Image */
#home > div:nth-child(2) {
    border: 2px solid rgb(164, 160, 145, .8);
    height: 90vw;
    padding: 40px 30px;
    border-radius: 10px;
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
    display: flex; /* Usa flexbox para centrar la imagen si es necesario */
    justify-content: start; /* Centra horizontalmente */
}

#home > div:nth-child(2) > img {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.anim {
    position: relative;
    transform: translateX(0); /* Estado inicial */
    transition: transform 2s; /* Transición para el regreso al estado original */
}

.anim:hover {
    transform: translateX(-41%); /* Estado final durante el hover */
}

/* VALUE PROPOSITION SECTION */
/* VALUE PROPOSITION SECTION */
/* VALUE PROPOSITION SECTION */

#value-proposition div:first-child > .h3, #tutorial > .h2 {
    font-weight: 200;
    color: #A4A091;
    font-size: 35px;
    margin-bottom: 30px;

}

#value-proposition div:nth-child(2) > .p {
    font-weight: 100;
    font-size: 15px;
}

#value-proposition div:nth-child(2) > .p > b {
    font-weight: 700;
}

#value-proposition {
    margin-bottom: 100px;
}

/* FEATURES SECTION*/
/* FEATURES SECTION*/
/* FEATURES SECTION*/

/* Entire Section */
#features > .right-side {
    margin-bottom: 50px;
}

/* Title */
#features > .right-side > .h3 {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 200;
}

/* Main point containers */
#features > .right-side > .row {
    padding: 30px;
}

/* Main Points */
#features > .right-side > .row .title {
    font-size: 25px;
    font-weight: 280;
    text-align: center;
}

/* Descriptions */
#features > .right-side > .row .text {
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 50px;
}

/* Images */
#features > .right-side > .row .image {
    display: flex;
    justify-content: center;
}

/* TECHNOLOGIES AND TOOLS SECTION*/
/* TECHNOLOGIES AND TOOLS SECTION*/
/* TECHNOLOGIES AND TOOLS SECTION*/

/* General Formatting*/
#tech-used {
    margin-bottom: 100px;
}

.inegi, .pandas, .plotly {
    margin-bottom: 40px;
}

/* Whole container elements */
.inegi, .pandas, .plotly, .follium, .python {
    color: white;
}

/* Section Title */
#tech-used > .h2 {
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 50px;
}

/* Types of Technologies Titles */
#tech-used > div > .h3 {
    font-size: 25px;
    font-weight: 280;
    margin-bottom: 20px;
    color: white;
}

/* Technologies */ 
#tech-used > div > .h4, #tech-used > div > .row .h4 {
    font-size: 25px;
    font-weight: 200;
}

/* Technologies Description */
#tech-used > div > .row div:nth-child(3) {
    font-weight: 100;
    font-size: 15px;
}

.python {
    margin-bottom: 50px;
}

/* TUTORIAL */
/* TUTORIAL */
/* TUTORIAL */



@media (min-width:768px) and (max-width:1199px) {
    /* HOME SECTION */
    /* Title and Description Container */
    #home > div:first-child {
        padding-right: 40px;
    }

    /* Title */
    #home > div:first-child > .h2 {
        font-size: 3em;
    }

    /* Description */
    #home > div:first-child > .p {
        font-size: 1em;
    }

    /* Image */
    #home > div:nth-child(2) {
        height: 40vw;
        margin: auto 0;
    }

    /* FEATURES SECTION */
    /* Section Title */
    #features > .right-side > .h3, #tech-used > .h2, #tutorial > .h2 {
        font-size: 2.5em;
    }

    /* Main point */
    #features > .right-side > .row .title, #tech-used > div > .h3 {
        font-size: 1.8em;
    }

    /* Description*/
    #features > .right-side > .row .text {
        font-size: 1.1em;
    }

    /* Truck Image (Is just appearing when the width is larger than Medium; 992px) */
    #features > .left-side > img {
        border-radius: 10px;
        width: 25vw;
    }

    #features > .right-side > .row {
        display: flex;
        height: 92%;
        align-items: center;
    }
}

/* For XL and larger width devices */
@media (min-width:1200px) {
    /* HOME SECTION */

    /* Main Title*/
    #home > div:first-child > .h2 {
        font-size: 3.5em;
    }

    /* Description */
    #home > div:first-child > .p {
        font-size: 1.2em;
    } 

    /* Image */
    #home > div:nth-child(3) {
        border: 2px solid rgb(164, 160, 145, .8);
        padding: 60px 50px;
        border-radius: 10px;
    }

    #carouselExampleControls > .carousel-inner {
        border-radius: 10px;
    }

    /* FEATURES SECTION */
    /* Section Title */
    #features > .right-side > .h3, #tutorial > .h2, #tech-used > .h2 {
        font-size: 3.5em;
        font-weight: 200;
    }

    /* Main point */
    #features > .right-side > .row .title {
        font-size: 2em;
    }

    /* Description*/
    #features > .right-side > .row .text {
        font-size: 1.2em;
    }
    #features > .left-side > img {
        border-radius: 10px;
        width: 25vw;
    }

    #features > .right-side > .row {
        display: flex;
        height: 92%;
        align-items: center;
    }

    /* VALUE PROPOSITION SECTION */
    #value-proposition div:first-child > .h3 {
        font-size: 3em;
    }

    #value-proposition div:nth-child(2) > .p {
        font-size: 1.2em;
    }

    #value-proposition {
        margin-bottom: 100px;
    }
}




/*
@media (min-width:992px) and (max-width:1199px) {

    #home {
        height: 96vh;
    }

    #home > .col-xl-6:first-child {
        padding: 0 100px;
    }

    #home > .col-xl-6 > .p {
        padding: 1% 10%;
        margin-bottom: 2px;
    }

    #home > .col-xl-6:nth-child(2) {
        padding: 0 10%;
    }
    #home > .col-xl-6 > .h2 {
        border-bottom: 2px solid #A4A091;
        font-size: 3em;
        padding-left: 20px;
    }
}


@media (min-width:768px) and (max-width:991px) {

    #home {
        padding: 0 40px;
    }

    #home > .col-xl-6 > .h2 {
        padding: 0 100px;
        margin-bottom: 20px;
    }

    #home > .col-xl-6:nth-child(2) {
        padding: 0;
    }
}


@media (min-width:576px) and (max-width:767px) {

}


@media (max-width:575px) {

}


@media (max-width:991px) {
    #features > .left-side > img {
        position: absolute;
        opacity: 0;
    }

    #features > .right-side {
        width: 100%;
    }
}

*/